.Button {
  all: unset;
  background-color: $red-500;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 4px 12px;
  border-radius: 48px;
  font-size: 0.75rem;

  &:hover {
    background-color: $red-600;
  }

  &:active {
    background-color: $red-700;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $red-100;
    color: $white;
    cursor: not-allowed;
  }

  @include desktop {
    height: 28px;
    padding: 8px 24px;
    font-size: 1rem;
  }
}
