.Button {
  all: unset;
  background-color: $deepChampagne-500;
  color: $oldBurgundy-500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 4px 12px;
  border-radius: 48px;
  font-size: 0.75rem;

  &:hover {
    background-color: $deepChampagne-600;
  }

  &:active {
    background-color: $deepChampagne-700;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $deepChampagne-100;
    color: $oldBurgundy-500;
    cursor: not-allowed;
  }

  &__Icon {
    color: $oldBurgundy-500;
    margin-right: 8px;
  }

  @include desktop {
    height: 28px;
    padding: 8px 24px;
    font-size: 1rem;

    &__Icon {
      font-size: 1.5rem;
    }
  }
}
