.Settings {
  width: 100%;
  position: relative;

  &__Dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-gap: 1rem;
    width: clamp(30%, 200px, 50%);
  }

  &__Slider {
    width: 80%;
  }

  &__Close {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__Toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
