.Settings {
  &__Dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-gap: 1rem;
  }

  &__GooglePlacesAutocomplete {
    width: 100%;
  }

  &__GeoLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__CrossIcon {
    font-size: 1.5rem;
    color: $oldBurgundy-500;
  }

  @include desktop {
    &__CrossIcon {
      font-size: 2rem;
    }
  }
}
