.ClickableIcon {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &__Text {
    margin: 0;
    margin-left: 0.5rem;
  }

  @include desktop {
    font-size: 1.5rem;
  }
}

.ClickableIcon--underline {
  padding-bottom: 0;
  border-bottom: 1px solid;
}
