.Whoami {
  &__Title {
    margin-bottom: 2rem;
  }

  &__Form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__FullName {
    display: flex;
    gap: 1rem;
  }

  &__Button {
    margin-top: 2rem;
  }
}
