.RestaurantDetails {
  height: 100%;

  &__Titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Gallery {
    margin: 1rem 0;
  }

  &__Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
